<div class="memo-writing">
	<div class="container">

		<h1>モヤモヤは紙に書き出して、あたまの中を整理しよう！</h1>
		<%= image_tag 'moya.png' %>
		<div class="description">
			<p>モヤモヤと悩んだ時は紙に書き出しましょう！</p>
			<p>用意するのは「紙」と「ペン」だけ。</p>
			<p>タイマーをセットして時間の限り書き続けましょう！</p>
			<br>
			<p>※詳しいメモ書き方法は<span id="memo-open">こちら</span></p>
		</div>
	
		<%# メモ書きマニュアル %>
		<div id="memo-mask" class="hidden"></div>
		<section id="memo-modal" class="hidden">
			<ul class="title">■メモ書きの方法
				<li>・A4用紙とペンを用意する</li>
				<li>・タイトルを書く</li>
				<li>・日付を書く</li>
				<li>・1分間で思ったことを書く</li>
				<li>・20〜30文字書く</li>
			</ul>
			<div class="memo-img">
				<%= image_tag 'memo_manual.jpg' %>
			</div>
			<ul class="title">■メモ書きの効能
				<li>・頭の中を整理できる</li>
				<li>・深く考えられるようになる</li>
				<li>・心のコントロールができるようになる</li>
			</ul>
			<p class="title">■参考書籍</p>
				ゼロ秒思考 頭がよくなる世界一シンプルなトレーニング 
				<%= link_to ' https://www.amazon.co.jp/dp/447802099X/ref=cm_sw_em_r_mt_dp_V76F9R96AQDYPJSQ9DTK' do %>
  					<i class="fas fa-external-link-alt"></i>
				<% end %>
			<div id="memo-close">閉じる</div>
		</section>

		<div class="memo-timer-box">
			<div id="memo-timer">00:00:000</div>
				<div class="memo-controls">
					<div id="memo-min">Min</div>
					<div id="memo-sec">Sec</div>
					<div id="memo-reset">Reset</div>
					<div id="memo-start">Start</div>
			</div>
		</div>
		<div class="memo-bottom">
			<%= image_tag 'writing.png' %>
		</div>
	</div>
</div>