<div class="memo-writing">
	<div class="container">

		<h1>モヤモヤしたら「メモ書き」をしよう！</h1>
		<%= image_tag 'moya.png' %>
		<p>※詳しいメモ書き方法は<span id="memo-open">こちら</span></p>
	
		<%# メモ書きマニュアル %>
		<div id="memo-mask" class="hidden"></div>
		<section id="memo-modal" class="hidden">
			<h1>「メモ書き」について説明します</h1>
			<ul class="method">
				<h2>■メモ書きの方法</h2>
				<li>・「A4用紙」と「ペン」を用意する</li>
				<p>〜 ここからは下記の画像を参考に 〜</p>
				<%= image_tag 'memo_manual.jpg' %>
				<li>・「タイトル」と「日付」を書く</li>
				<li>・1分間で思ったことを書く</li>
				<li>・20〜30文字書く</li>
				<li>・10枚書く</li>
			</ul>

			<ul class="effect">
				<h2>■メモ書きの効能</h2>
				<li>・頭の中を整理できる</li>
				<li>・深く考えられるようになる</li>
				<li>・心のコントロールができるようになる</li>
			</ul>

			<ul class="reference">
				<h2>■参考書籍</h2>
				<li>ゼロ秒思考 頭がよくなる世界一シンプルなトレーニング 
				<%= link_to ' https://www.amazon.co.jp/dp/447802099X/ref=cm_sw_em_r_mt_dp_V76F9R96AQDYPJSQ9DTK' do %>
  					<i class="fas fa-external-link-alt"></i>
				<% end %></li>
			</ul>
			<div id="memo-close">閉じる</div>
		</section>

		<%# タイマー %>
		<div class="memo-timer-box">
			<div id="memo-timer">00:00:000</div>
				<div class="memo-controls">
					<div id="memo-min">Min</div>
					<div id="memo-sec">Sec</div>
					<div id="memo-reset">Reset</div>
					<div id="memo-start">Start</div>
			</div>
		</div>

		<div class="memo-bottom">
			<%= image_tag 'writing.png' %>
		</div>

	</div>
</div>