header {
  line-height: 45px;
	background: cornflowerblue;
  display: flex;
  justify-content: space-around;
}


.header-title {
  text-decoration: none;
  color: aliceblue;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right > a {
  text-decoration: none;
  color: aliceblue;
  font-size: 14px;
  display: block;
  padding-right: 8px;
}