<header>
	<div class="header">
		<div class="header-left">
			<h1 class="header-title">Maccho APP</h1>
		</div>

		<div class="header-right">
			<ul class="user-nav">
				<li class="sign-up">
					<a href="">新規登録</a>
				</li>
				<li class="sign-in">
					<a href="">ログイン</a>
				</li>
			</ul>
		</div>
	
	</div>
</header>