body {
	color: #333;
	font-size: 12px;
}

.main {
	text-align: center;
	padding-top: 64px;
}

.main p {
	font-size: 16px;
}

.main img {
	width: 450px;
	vertical-align: bottom;
}

.btn {
	text-decoration: none;
	background: cornflowerblue;
	color: aliceblue;
	display: block;
	width: 140px;
	line-height: 44px;
	margin: 40px auto 48px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;
}

.btn:hover {
	opacity: 0.9;
}

.features {
	background: #f2f2f3;
}

.features img {
	width: 100%;
}

.features > h1 {
	text-align: center;
	padding: 64px 0;
}

.features .container {
	margin: 0 32px;
}

.features p {
	line-height: 1.8;
	font-size: 16px;
}

.features section {
	padding-bottom: 64px;
}

.targets-lists {
	background: cornflowerblue;
}

.targets-lists > h1 {
	text-align: center;
	margin: 0;
	padding: 64px 0;
}

.targets-lists ul {
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.targets-lists li {
	padding-bottom: 64px;
}

.targets-lists img {
	width: 200px;
	border-radius: 4px;
}

@media (min-width: 900px) {

		.main .container {
			display: flex;
			width: 800px;
			margin: 0 auto;
		}

		.main .info {
			width: 60%;
			align-self: center;
		}

		.main .img {
			width: 40%;
		}

		.features .container {
			width: 800px;
			margin: 0 auto;
		}

		 .features section {
			 display: flex;
			 justify-content: space-between;
		 }

		 .features section:nth-child(even) {
			 flex-direction: row-reverse;
		 }

		 .features .pic {
			 width: 50%;
		 }

		 .features .info {
			 width: calc(50% - 32px);
		 }

		 .targets-lists ul {
			 width: 800px;
			 margin: 0 auto;
			 display: flex;
			 justify-content: space-between;
		 }

		 .targets-lists li {
			 width: 250px;

		 }

}