body {
	color: #333;
	font-size: 14px;
}

.top-wrapper {
	text-align: center;
	padding: 64px 0;
}

.top-wrapper h1 {
	font-size: 22px;
	margin-bottom: 10px;
}

.top-wrapper p {
	font-size: 18px;
	line-height: 1.4;
}

.top-wrapper img {
	width: 350px;
	vertical-align: bottom;
}

.btn {
	text-align: center;
	text-decoration: none;
	background: #4689FF;
	color: aliceblue;
	display: block;
	width: 140px;
	line-height: 44px;
	margin: 40px auto 48px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;
	cursor: pointer;
	border: none;
}

.btn:hover {
	opacity: 0.7;
}

/* アプリの特徴 */
.features {
	background: whitesmoke;
}

.features section {
	padding-bottom: 64px;
}

.features img {
	border-radius: 5px;
	width: 100%;
}

.features > h2 {
	text-align: center;
	padding: 64px 0;
	font-size: 22px;
}

.features .container {
	margin: 0 24px;
}

.features h3 {
	font-size: 20px;
	line-height: 1.4;
	margin: 8px;
}

.features p {
	line-height: 1.8;
	font-size: 16px;
}

/* 最近の投稿一覧 */
.target-wrapper {
	background: #f0f1f4;
	padding: 64px 24px;
}

.target-wrapper > h2 {
	font-size: 24px;
	margin-bottom: 8px;
	text-align: center;
}

.target-wrapper > p {
	text-align: center;
	font-size: 16px;
	margin-bottom: 40px;
}

.target-wrapper .target-lists li {
	list-style: none;
}

.target-wrapper .target-box {
	padding: 10px;
	margin: 10px 0;
  background: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	font-size: 16px;
	line-height: 1.4;
	
}

.target-link {
	display: block;
	text-decoration: none;
	color: #333;
	height: 100%;
}

.target-wrapper .user-info {
	display: flex;
	align-items: center;
}

.target-wrapper .user-info .user-img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.target-wrapper .user-name {
	margin-left: 8px;
}

.target-wrapper .target-content {
	padding: 8px;
	
}

.target-wrapper .target-date {
	margin-top: 8px;
	border-top: 1px solid #ddd;
	font-size: 12px;
	width: 140px;
}

.fa-comment {
	margin-left: 10px;
}

.pagination {
	margin-top: 40px;
	text-align: center;
}

.pagination a {
  border: none;
  color: #333;
}

.pagination a:hover {
opacity: 0.5;
}


@media (min-width: 900px) {

		.top-wrapper .container {
			display: flex;
			width: 800px;
			margin: 0 auto;
		}

		.top-wrapper .info {
			width: 60%;
			align-self: center;
		}

		.top-wrapper .img {
			width: 40%;
		}

		.features .container {
			width: 800px;
			margin: 0 auto;
		}

		 .features section {
			 display: flex;
			 justify-content: space-between;
		 }

		 .features section:nth-child(even) {
			 flex-direction: row-reverse;
		 }

		 .features .pic {
			 width: 50%;
		 }

		 .features .info {
			 width: calc(50% - 24px);
		 }

		 .target-wrapper .target-lists {
			 width: 800px;
			 margin: 32px auto;
			 display: flex;
			 flex-wrap: wrap;
			 justify-content: center;
		 }

		 .target-wrapper .target-box {
			width: 350px;
			margin: 20px 20px;
		 }

		 .target-wrapper .target-content {
			height: 140px;
			overflow: scroll;
		}

}
