body {
	color: #333;
	font-size: 12px;
}

.top-wrapper {
	text-align: center;
	padding-top: 64px;
}

.top-wrapper p {
	font-size: 16px;
}

.top-wrapper img {
	width: 350px;
	vertical-align: bottom;
}

.btn {
	text-decoration: none;
	background: cornflowerblue;
	color: aliceblue;
	display: block;
	width: 140px;
	line-height: 44px;
	margin: 40px auto 48px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	border-bottom: solid 3px #627295;
	padding: 0;
}

.btn:active {
	-webkit-transform: translateY(2px);
  transform: translateY(2px);
  border-bottom: none;
}

.btn:hover {
	opacity: 0.9;
}

.features {
	background: #f2f2f3;
}

.features img {
	border-radius: 4px;
	width: 100%;
}

.features > h1 {
	text-align: center;
	padding: 64px 0;
}

.features .container {
	margin: 0 32px;
}

.features p {
	line-height: 1.8;
	font-size: 16px;
}

.features section {
	padding-bottom: 64px;
}

.targets-wrapper {
	background: cornflowerblue;
	padding	: 64px;
}

.targets-wrapper > h1 {
	margin: 0;
	text-align: center;
}

.targets-wrapper > p {
	text-align: center;
	margin: 0;
	font-size: 16px;
	color: #c6e4ff;
	padding-bottom: 64px;
}

.targets-lists {
	list-style: none;
	margin: 0;
	padding: 0;
}

.targets-lists li {
	height: 200px;
	margin-bottom: 64px;
  background: white;
  border-left: solid 10px #c6e4ff;
	font-size: 16px;
	position: relative;
}

.target-link  {
	display: block;
	text-decoration: none;
	color: #333;
	height: 200px;
	width: 100%;
}

.target-info {
	padding: 8px;
}

.target-date {
	position: absolute;
	bottom: 10px;
	border-top: 1px solid #ddd;
	font-size: 12px;
	width: 160px;
}

.target-content {
	padding: 14px 8px 8px;
}

.call-to-action {
	color: #333;
	text-align: center;
	padding: 32px 0;
}


.call-to-action .btn {
	margin: 0 auto;
}


@media (min-width: 900px) {

		.top-wrapper .container {
			display: flex;
			width: 800px;
			margin: 0 auto;
		}

		.top-wrapper .info {
			width: 60%;
			align-self: center;
		}

		.top-wrapper .img {
			width: 40%;
		}

		.features .container {
			width: 800px;
			margin: 0 auto;
		}

		 .features section {
			 display: flex;
			 justify-content: space-between;
		 }

		 .features section:nth-child(even) {
			 flex-direction: row-reverse;
		 }

		 .features .pic {
			 width: 50%;
		 }

		 .features .info {
			 width: calc(50% - 32px);
		 }

		 .targets-lists {
			 width: 800px;
			 margin: 0 auto;
			 display: flex;
			 flex-wrap: wrap;
			 justify-content: center;
		 }

		 .targets-lists li {
			width: 30vh;
			margin: 18px;
		 }


}