.memo-writing .container{
	padding: 64px 32px;
	text-align: center;
}

.memo-writing h1 {
	border-bottom: solid 1px #ddd;
	font-size: 18px;
	line-height: 1.8;
	margin: 15px auto;
}

.memo-writing img {
	width: 80px;
	margin: 20px auto 40px;
}

.memo-writing p {
	font-size: 16px;
	line-height: 1.8;
}

#memo-open {
	cursor: pointer;
	border-bottom: 1px solid #333;
	font-weight: bold;
}

#memo-open:hover {
opacity: 0.7;
}

/* メモ書きマニュアル */
#memo-mask {
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
}

#memo-mask.hidden {
	display: none;
}

#memo-modal {
	background: #fff;
	width: 350px;
	padding: 20px;
	border-radius: 4px;
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	margin: 0 auto;
	transition: transform 0.4s;
	z-index: 2;
	text-align: left;
}

#memo-modal > h1 {
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	text-align: center;
}

#memo-modal h2 {
	font-size: 16px;
}

#memo-modal p {
	font-size: 14px;
}

#memo-modal li {
	font-size: 14px;
	line-height: 1.8;
	list-style: none;
}

#memo-modal .method {
	padding: 10px;
}

#memo-modal .effect {
	padding: 10px;
}

#memo-modal .reference {
	padding: 10px;
}

.fa-external-link-alt {
	color: #333;
}

.fa-external-link-alt:hover {
	opacity: 0.7;
}

#memo-modal img {
	width: 100%;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	margin: 10px auto;
}

#memo-modal.hidden {
	transform: translate(0, -1000px);
}

#memo-close {
	cursor: pointer;
	width: 100px;
	border: 1px solid #ccc;
	border-radius: 4px;
	text-align: center;
	padding: 10px;
	margin: 16px auto 0;
}

/* タイマー */
.memo-timer-box {
	margin: 45px auto ;
	width: 300px;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

#memo-timer {
	background: #ddd;
	height: 120px;
	line-height: 120px;
	font-size: 45px;
	font-weight: bold;
	margin-bottom: 15px;
}

.memo-controls > div {
	cursor: pointer;
	user-select: none;
	width: 75px;
	background: #ddd;
	height: 45px;
	line-height: 45px;
	margin-right: 4px;
}

.memo-controls {
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.memo-controls > div:hover {
	opacity: 0.7;
}

.memo-bottom > img {
	width: 200px;
}

@media (min-width: 900px) {
	
	.memo-writing .container{
		margin: 0 auto;
		width: 600px;
	}
	
	.memo-writing h1 {
		width: 80%;
	}

	#memo-modal {
		width: 600px;
		padding: 40px;
	}

}