.target-post .container {
	margin: 64px 32px;
	text-align: center;
}

.target-post h1 {
	font-size: 18px;
	line-height: 1.8;
	border-bottom: 1px solid #ddd;
}

.timer-box {
	background: white;
	margin: 45px auto;
	width: 300px;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#timer {
	background: #ddd;
	height: 120px;
	line-height: 120px;
	font-size: 40px;
	color: #333;
	margin-bottom: 15px;
}

.fa-play-circle {
	margin-top: 14px;
	cursor: pointer;
	color: #333;
}

.fa-play-circle:hover {
	opacity: 0.7;
}

.target-post-top img {
	width: 100px;
}

.new-target-box {
	width: 300px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	margin: 64px auto;
	padding: 10px;
}

.new-target-box > h2 {
	border-bottom: 1px solid #ddd;
	font-size: 16px;
	width: 50%;
	margin: 25px auto;
}

.new-target-box .text-content {
	width: 90%;
	font-size: 16px;
}

.target-post-bottom img {
	width: 180px;
}


@media (min-width: 900px) {
	.target-post .container {
		margin: 64px auto;
		width: 620px;
	}
	
	.target-post h1 {
		margin: 0 auto;
		width: 620px;
	}

	.new-target-box {
		width: 380px;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
		border-radius: 4px;
		margin: 64px auto;
		padding: 10px;
	}
	
}