.target-page {
	padding: 64px 32px;
}

.target---box {
	padding: 10px;
	height: 200px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
	font-size: 16px;
	position: relative;
}

.user---info {
	display: flex;
	align-items: center;
}

.target---link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #333;
}

.user---name:hover {
	opacity: 0.7;
}

.user---image .user---img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.user---name {
	margin-left: 8px;
}

.user---name a {
	text-decoration: none;
	color: #333;
}

.menu---bar {
	padding-right: 10px;
	margin-left: auto;
}

.menu---bar a {
	color: #333;
	font-size: 14px;
}

.menu---bar a:hover {
	opacity: 0.7;
}

.target---content {
	padding: 10px;
}

.target---date {
	position: absolute;
	bottom: 10px;
	border-top: 1px solid #ddd;
	font-size: 12px;
	width: 140px;
}

.target-comment {
	margin: 44px auto 48px;
	width: 90%;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	padding: 18px;
}

.comment-content {
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.comment-btn {
	text-decoration: none;
	cursor: pointer;
	background: rgb(116, 159, 240);
	color: aliceblue;
	display: block;
	width: 120px;
	line-height: 28px;
	margin: 15px auto 15px;
	font-size: 14px;
	border-radius: 10px;
	border: none;
}

.comment-btn:hover {
	opacity: 0.7;
}

.comment-caution > p {
	text-align: center;
	margin-bottom: 20px;
	color: red;
}

.comments h2 {
	font-size: 14px;
	margin-bottom: 8px;
}

.comments a {
	text-decoration: none;
	color: #333;
	line-height: 1.6;
}

.comments a:hover {
	opacity: 0.7;
}


@media (min-width: 900px) {
	.target-page {
		width: 800px;
		margin: 0 auto;
	}

	.target---box {
		margin: 0 auto;
		width: 80%;
	}

	.target-comment {
		width: 70%;
	}
}