.my-page {
	padding: 64px 32px;
}

/* プロフィール */
.my-profile {
	width: 200px;
	text-align: center;
}

.my-profile .user-image {
	margin: 15px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.my-profile > p {
	font-weight: bold;
	font-size: 16px;
	border-bottom: 1px solid #ddd;
}

.fa-user-circle  {
	color: rgb(104, 100, 100);
}

.my-profile .fas {
	padding: 10px;
}

.user-menu {
	text-align: left;
	padding-left: 25px;
}

.user-menu li {
	list-style: none;
}

.my-profile .user-edit {
	color: rgb(104, 100, 100);
	font-size: 14px;
	text-decoration: none;
}

.my-profile .user-edit:hover {
	opacity: 0.5;
	text-decoration: underline;
}

.my-profile .user-review {
	color: rgb(104, 100, 100);
	font-size: 14px;
	display: inline-block;
	margin-top: 20px;
	text-decoration: none;
}

.my-profile .user-review:hover {
	opacity: 0.5;
	text-decoration: underline;
}

/* カレンダー */
.calender {
	margin: 35px 0 55px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.calendar-heading {
	background: cornflowerblue;
	border-radius: 4px 4px 0 0;
	line-height: 25px;
}

.calendar-heading > a {
	margin: 0 15px;
	color: #333;
}

.calendar-heading > a:hover {
	opacity: 0.5;
}

.simple-calendar .day {
	height: 45px;
}

.post-sign {
	text-align: center;
	color: orange;
}

/* タブメニュー */
.tab-menu {
	display: flex;
	border-bottom: 1px solid #ddd;
}

.tab-menu li {
	list-style: none;
}

.tab-menu li a {
	width: 100px;
	display: inline-block;
	text-align: center;
	padding: 8px 0;
	color: #333;
	text-decoration: none;
	border-radius: 4px 4px 0 0;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.tab-menu li a.active {
	background: #ddd;
}

.tab-menu li a:not(.active):hover {
	opacity: 0.5;
	background: #ddd;
}

/* タブコンテンツ：目標一覧 */
.tab-content.active {
	background: white;
	min-height: 150px;
	padding: 12px;
	display: block;
}

.tab-content {
	display: none;
}

.target-lists li {
	list-style: none;
}

.target-link  {
	display: block;
	text-decoration: none;
	color: #333;
	height: 100%;
}

.target-box {
	padding: 10px;
	margin: 32px auto;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
	font-size: 14px;
	line-height: 1.4;
}

.user-info {
	display: flex;
	align-items: center;
}

.user-image .user-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.user-name {
	margin-left: 8px;
}

.target-content {
	padding-top: 8px;
}

.target-date {
	border-top: 1px solid #ddd;
	margin-top: 8px;
	font-size: 12px;
	line-height: 1.4;
	width: 140px;
}

/* タブコンテンツ：振り返り一覧  */
.review-lists li {
	list-style: none;
}

.review-box {
	width: 100%;
	padding: 10px;
	margin: 32px auto;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
	font-size: 14px;
	line-height: 1.4;
}

.review-title > p {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}

.review-title span {
	font-weight: bold;
	display: inline-block;
}

.review-content {
	padding: 10px;
}

.review-date {
	margin-top: 8px;
	border-top: 1px solid #ddd;
	font-size: 12px;
	width: 140px;
}


@media (min-width: 900px) {
	.my-page {
		width: 800px;
		margin: 0 auto;
	}

	.my-page .container {
		display: flex;
		justify-content: space-around;
	}
	
	.calender {
		width: 50%;
		margin: 0 0 65px;
	}

	.tab-container {
		width: 80%;
		margin: 0 auto;
	}

	.target-box {
		width: 70%;
	}

	.target-content {
		height: 120px;
		overflow: scroll;
	}

	.review-box {
		width: 70%;
	}

	.review-content{
		height: 120px;
		overflow: scroll;
	}

}
